{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/site.css' %}" />
        
        <title>Sheru</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body class="bg-dark text-white h-100">
        <nav class="navbar navbar-light navbar-expand-lg bg-secondary w-100 no-gutters">
            <a class="navbar-brand" href="/"><span class="fa-stack">
                <img src="{% static 'sheru-logo.png' %}" width="106" height="40">
            </a>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    {% if user.container_templates.all %}
                    <a class="nav-link dropdown-toggle" href="#" id="shellNavbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Shells</b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="shellNavbarDropdownMenuLink">
                        {% for ct in user.container_templates.all %}
                        <a class="dropdown-item" href="{% url 'shell' pk=ct.pk %}">
                            {% if ct.friendly_name %}{{ ct.friendly_name }}{% else %}
                            {{ct.image}} - {{ct.shell}}
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <a class="nav-link dropdown-toggle disabled" href="#" id="shellNavbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Shells</b>
                    </a>
                    {% endif %}
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="userNavbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userNavbarDropdownMenuLink">
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin' %}">Admin<i class="fas fa-tools" style="width: 20px; padding-left: .5em;"></i></a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'user_profile' %}">Profile<i class="fas fa-user-cog" style="width: 20px; padding-left: .5em;"></i></a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout<i class="fas fa-sign-out-alt" style="width: 20px; padding-left: .5em;"></i></a>
                    </div>
                    
                </li>
            </ul>
            {% endif %}
            
        </nav>
        <!--Load Alerts Here-->
        {% if messages %}
            {% for message in messages %}
            <div class="m-3 fixed-top alert alert-dismissible alert-{{ message.tags }}" role="alert">
                <p class="align-middle mb-0">{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <main {% block main_extra %}{% endblock %}>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>