{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'xterm/dist/xterm.css' %}" />
<script src="{% static 'xterm/dist/xterm.js' %}"></script>
<script src="{% static 'xterm/dist/addons/fit/fit.js' %}"></script>
<script src="{% static 'xterm/dist/addons/webLinks/webLinks.js' %}"></script>
<script src="{% static 'xterm/dist/addons/fullscreen/fullscreen.js' %}"></script>
<script src="{% static 'xterm/dist/addons/search/search.js' %}"></script>
<script src="{% static 'xterm/dist/addons/attach/attach.js' %}"></script>
{% endblock %}

{% block main_extra %}
{% endblock %}

{% block content %}
<div id="terminal-container">
</div>

<script type="text/javascript">
  $(document).ready(function(){
      //var containerID = document.getElementById('containerIdInput1').value;
      var term_websocket;
      
      Terminal.applyAddon(attach);
      Terminal.applyAddon(fullscreen)
      Terminal.applyAddon(fit)
      Terminal.applyAddon(webLinks)
      const term = new Terminal({
          cursorBlink: true,
          windowsMode:true,
          scrollback: true,
          scrollback: 2000
          //rows:10
      });
      if (typeof(term_websocket) != "undefined"){
          term_websocket.close();
      }
      const container = document.getElementById('terminal-container');
      term.open(container);
      term.focus();
      term.toggleFullScreen(true);
      term.fit()
      term.webLinksInit();
      term.writeln('Welcome to Sheru! - https://github.com/soarinferret/sheru\r\n');
      //console.log(`size: ${term.cols} columns, ${term.rows} rows`)
      const protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
      const port = location.port ? `:${location.port}` : '';
      const socketUrl = `${protocol}${location.hostname}${port}/ws/{{ user.pk }}/${term.cols}/${term.rows}`;
      term_websocket = new WebSocket(socketUrl);
      term_websocket.onopen = (ev) => { term.attach(term_websocket); };
      term_websocket.onclose = function(ev){
          term.writeln('\r\nConnection closed.')
          console.log('Connection closed.');
      };                   
  });
  </script>

{% endblock %}