{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

{% endblock %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="container">
    
    <div class="row justify-content-md-center" style="margin-top: 10vh;">
        <div class="card shadow text-dark" style="width: 60rem">
            <div class="card-body">
                <div class="float-right"><button class="btn update-profile" style="background-color:transparent;"><i class="fas fa-user-edit"></i></button></div>
                <h3 class="card-title">
                    {% if u.first_name %}
                        {{ u.first_name }} {{ u.last_name }}
                    {% else %}
                        {{ u.email }}
                    {% endif %}
                </h3>
                <i>Last Login: {{ u.last_login }}</i>

                <p>Email: <a href="mailto:{{ u.email }}">{{u.email}}</a></p>
            </div>
        </div>
        <div class="card mt-4 shadow text-dark" style="width: 60rem">
            <div class="card-body">
                <div class="float-right"><button class="btn create-container-template" style="background-color:transparent;"><i class="fas fa-plus-circle"></i></button></div>
                <h4 class="card-title">Container Templates</h4>

                {% if u.container_templates.all %}
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Friendly Name</th>
                            <th scope="col" class="d-none d-sm-table-cell">Image</th>
                            <th scope="col" class="d-none d-sm-table-cell">Shell</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if u.default_template %}
                    <tr>
                        <td><a href="#"><i class="fas fa-star"></i></a></td>
                        <td>{{ u.default_template.template.friendly_name }}</td>
                        <td class="text-break d-none d-sm-table-cell">{{ u.default_template.template.image }}</td>
                        <td class="d-none d-sm-table-cell">{{ u.default_template.template.shell }}</td>
                        <td>
                            <button class="btn update-template-{{ u.default_template.template.pk }}" style="background-color:transparent;"><i class="fas fa-edit"></i></button>
                            <a href="{% url 'del_container_template' pk=u.default_template.template.pk %}"><button class="btn" style="background-color:transparent;"><i class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% for ct in u.container_templates.all %}
                    {% if ct.pk != u.default_template.template.pk %}
                    <tr>
                        <td><a href="{% url 'update_default_template' pk=ct.pk %}"><i class="far fa-star"></i></a></td>
                        <td>{{ ct.friendly_name }}</td>
                        <td class="text-break d-none d-sm-table-cell">{{ ct.image }}</td>
                        <td class="d-none d-sm-table-cell">{{ ct.shell }}</td>
                        <td>
                            <button class="btn update-template-{{ ct.pk }}" style="background-color:transparent;"><i class="fas fa-edit"></i></button>
                            <a href="{% url 'del_container_template' pk=ct.pk %}"><button class="btn" style="background-color:transparent;"><i class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <i>No container templates setup at this time</i>
                {% endif %}
            </div>
        </div>

        <!-- List Running User Containers -->
        <div class="card shadow mt-4 text-dark" style="width: 60rem">
            <div class="card-body">
                <h3 class="card-title">
                    Running User Containers
                </h3>

                <table class="table w-100 table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Container ID</th>
                            <th class="d-none d-sm-table-cell" scope="col">Session</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in running_containers %}
                        <tr>
                            <td>{{ c.id|stringformat:".10s" }}</td>
                            <td class="d-none d-sm-table-cell">{{ c.session }}</td>
                            <td>{{ c.image }}</td>
                            <td>
                                <a href="{% url 'remove_cid' container_id=c.id %}"><button class="btn" style="background-color:transparent;"><i class="fas fa-trash-alt"></i></button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".create-container-template").modalForm({
            {% if request.user.pk == u.pk %}
            formURL: "{% url 'create_container_template' %}"
            {% else %}
            formURL: "{% url 'create_container_template_adv' pk=u.pk%}"
            {% endif %}
        });

        $(".update-profile").modalForm({
            formURL: "{% url 'update_profile' pk=u.pk %}"
        });
        {% for ct in u.container_templates.all %}
        $(".update-template-{{ ct.pk }}").modalForm({
            formURL: "{% url 'update_template' pk=ct.pk %}"
        });
        {% endfor %}
    });
</script>
{% endblock %}