{% load crispy_forms_tags %}
<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title text-dark">{% if containertemplate %}Edit {% else %}Create a new {% endif %}Container Template</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-dark{% if form.errors %} invalid{% endif %}">
      <!-- Organize the fields manually :( -->

      {{ form.friendly_name | as_crispy_field }}
      {{ form.image | as_crispy_field }}      
      {{ form.shell | as_crispy_field }}
      
      <a class="pb-5" data-toggle="collapse" href="#networking-collapse" aria-controls="networking-collapse">Custom Network Settings ></a>
      <div class="collapse" id="networking-collapse">
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.dns_server_1 | as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
              {{ form.dns_server_2 | as_crispy_field }}
            </div>
          </div>
          {{ form.dns_search_domain | as_crispy_field }}
          {{ form.network_disable | as_crispy_field }}

      </div>
      <br>
      <a data-toggle="collapse" href="#adv-collapse" aria-controls="adv-collapse">Adv Settings ></a>
      <div class="collapse" id="adv-collapse">
          <div class="form-row">
            <div class="form-group col-md-4 mb-0 align-middle">
              {{ form.mount_volume|as_crispy_field }}
            </div>
            <div class="form-group col-md-8 mb-0 align-middle">
              {{ form.mount_location|as_crispy_field }}
            </div>
          </div>
          {{ form.working_dir | as_crispy_field }}
          {{ form.user_id | as_crispy_field }}
      </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">{% if containertemplate %}Update{% else %}Create{% endif %}</button>
  </div>

</form>