{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row w-100 h-75">
    <div class="card my-auto mx-auto shadow text-dark" style="width: 40rem">
        <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
            
            {% csrf_token %}
            
            {{ form | crispy }}
            
            <div class="row center">
                <button class="mx-auto btn btn-primary" type="submit">
                    Login
                </button> 
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}