{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row justify-content-md-center" style="margin-top: 10vh;">
    <div class="card shadow text-dark col-sm-6">
        <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
            
            {% csrf_token %}
            
            {{ form | crispy }}
            
            <div class="row center">
                <button class="mx-auto btn btn-primary" type="submit">
                    Login
                </button> 
            </div>
        </form>
        </div>
    </div>
</div>
</div>
{% endblock %}